apiVersion: v1
kind: ServiceAccount
metadata:
  name: kubeflow-training-operator
  namespace: openshift-ai

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kubeflow-training-operator
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - pods/status
  - services
  - services/status
  - configmaps
  - events
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods/exec
  verbs:
  - create
  - get
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/status
  - statefulsets
  - statefulsets/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  resources:
  - jobs
  - jobs/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - scheduling.volcano.sh
  resources:
  - podgroups
  - podgroups/status
  - queues
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kubeflow.org
  resources:
  - mpijobs
  - mpijobs/status
  - mpijobs/finalizers
  - tfjobs
  - tfjobs/status
  - tfjobs/finalizers
  - pytorchjobs
  - pytorchjobs/status
  - pytorchjobs/finalizers
  - xgboostjobs
  - xgboostjobs/status
  - xgboostjobs/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kubeflow-training-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kubeflow-training-operator
subjects:
- kind: ServiceAccount
  name: kubeflow-training-operator
  namespace: openshift-ai